extends layout

block content

  h1= "List of crawlers"
  a= "Keyword_______Nbr Tweets_______Delete" 
  p="------------------------------"
  each crawler in crawlers
    a= crawler["keyword"]
    a= ":_________:" 
    a= crawler["number_of_posts"]
    a= ":_________:" 
    a(href="http://localhost:3000/twitter/crawlers/delete?keyword="+crawler["keyword"] target="_blank") Delete
    
    p= "###############################"