extends layout

block content

  h1= "List of tweets to train"
  
  p= "###############################"
  each tweet in tweets
    img(src=tweet._source.user.profile_image_url)
    'Name: ' 
    b= tweet._source.user.screen_name
    br
    'Description: '
    b= tweet._source.user.description
    br
    'Tweet: '
    b= tweet._source.text
    br
    a(href="http://localhost:3000/twitter/crawlers/list_to_train?keyword="+keyword+"&page="+page+"&spam_text="+tweet._source.user.screen_name +" "+tweet._source.text+" "+ tweet._source.user.description ) Mark as Spam
    p= "###############################"

